<div class="container">
  <!-- Lower Deck Seats -->
  <svg width="400" height="600">
    <text x="240" y="12" font-size="16" font-weight="bold" text-anchor="middle">
      LOWER DECK
    </text>
    <g transform="rotate(90, 200, 200)">
      <rect
        x="20"
        y="55"
        width="550"
        height="220"
        rx="20"
        ry="20"
        fill="#f2f2f2"
      />

      <g id="lowerDeckSeats">
        <ng-container *ngFor="let seat of lowerDeckSeats">
          <rect
            [attr.x]="seat.x"
            [attr.y]="seat.y"
            [attr.width]="seat.width"
            [attr.height]="seat.height"
            rx="5"
            ry="5"
            [attr.fill]="getSeatColor(seat)"
            (click)="selectSeat(seat)"
          />
          <text
            [attr.x]="seat.x + 10"
            [attr.y]="seat.y + 20"
            font-size="12"
            font-weight="bold"
            fill="black"
          >
            {{ seat.id }}
          </text>
        </ng-container>
      </g>
    </g>
  </svg>

  <!-- Upper Deck Seats -->
  <svg width="400" height="600">
    <text x="240" y="12" font-size="16" font-weight="bold" text-anchor="middle">
      UPPER DECK
    </text>
    <g transform="rotate(90,200, 200)">
      <rect
        x="20"
        y="55"
        width="550"
        height="220"
        rx="20"
        ry="20"
        fill="#f2f2f2"
      />
      <g id="upperDeckSeats">
        <ng-container *ngFor="let seat of upperDeckSeats">
          <rect
            [attr.x]="seat.x"
            [attr.y]="seat.y"
            [attr.width]="seat.width"
            [attr.height]="seat.height"
            rx="5"
            ry="5"
            [attr.fill]="getSeatColor(seat)"
            (click)="selectSeat(seat)"
          />
          <text
            [attr.x]="seat.x + 15"
            [attr.y]="seat.y + 20"
            font-size="12"
            font-weight="bold"
            fill="black"
          >
            {{ seat.id }}
          </text>
        </ng-container>
      </g>
    </g>
  </svg>
</div>

<button class="btn btn-primary" (click)="proceedToPassengerInfo()">Proceed</button>